.clinical-history-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-text); /* Aplica color global al texto */
}

.historia-card {
  max-width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--color-text); /* Aplica color al texto de cada tarjeta */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: var(--colortext);
}

.historia-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.historia-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.historia-actions button {
  padding: 0.4rem 0.7rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background-color: #f0f0f0;
  color: var(--color-text);
  transition: background-color 0.2s;
}

.historia-actions button:hover {
  background-color: #e0e0e0;
}
.btn-add-history {
  background-color: var(--button);
  margin-right: 40px;
}

.btn-add-history:hover {
  background-color: var(--buttonhover);
}
