.header {
  width: 100%;
  display: flex;
  min-height: 91vh;
  background: var(--colorheader);
  border-radius: 15px;
  margin: 10px;
  img {
    height: 50px;
  }
}

.logo {
  height: 4em;
  margin: 10px;
  will-change: filter;
  transition: filter 300ms;
}
