form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--colortext);
  input {
    margin-inline: 3px;
    background-color: azure;
    border-radius: 5px;
    border: 1px solid grey;
    color: black;
    width: auto;
  }
  select {
    background-color: azure;
    border-radius: 5px;
    border: 1px solid grey;
    color: black;
    margin-inline: 3px;
  }
}
.button-group {
  display: flex;
  gap: 10px; /* espacio entre botones */
  margin-top: 1rem;
}

.btn {
  flex: 1; /* para que ambos tengan igual ancho */
  padding: 0.75rem 1rem;
  background-color: #9b5fa9; /* mismo color */
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn:hover {
  background-color: #72277f; /* color hover */
}

.register-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
