.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 80px auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #ffffffcc;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
}

.reset-password-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--colortext);
  text-align: center;
}

.reset-password-container form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.reset-password-container label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.reset-password-container input {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.reset-password-container input:focus {
  outline: none;
  border-color: var(--buttonhover);
}

.reset-password-container button {
  padding: 0.75rem;
  background-color: var(--button);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-password-container button:hover {
  background-color: var(--buttonhover);
}
