#root {
  --colorheadertext: rgb(6, 38, 56);
  --colortext: #72277f;
  --button: #9b5fa9;
  --buttonhover: #72277f;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

/* esto lo tengo que usar para que no rompa, porque al usar RRDOM se rompe */
.main-content {
  width: 100%;
  /* max-width: 900px; */
  margin: 0;
  /* padding: 2rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
